<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="prefixed_arm">
  <xacro:arg name="prefix" default="robot1_"/>
  <xacro:property name="prefix" value="$(arg prefix)"/>

  <link name="${prefix}base_link">
    <visual>
      <geometry><box size="0.2 0.2 0.1"/></geometry>
    </visual>
  </link>

  <link name="${prefix}arm_link">
    <visual>
      <origin xyz="0 0 0.2"/>
      <geometry><box size="0.08 0.08 0.4"/></geometry>
    </visual>
  </link>

  <joint name="${prefix}arm_joint" type="revolute">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}arm_link"/>
    <origin xyz="0 0 0.05"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="5.0" velocity="1.0"/>
  </joint>
</robot>
